body {
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  margin: 80px 0 50px;
}

h2 {
  margin: 20px 0 20px;
}

p {
  line-height: 2;
  font-size: 1.25rem;
  text-align: justify;
}

a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
}

/* title section */
#title {
  background-color: #66BFBF;
  font-family: "Montserrat";
  color: #fff;
}

.KFS-image {
  border-radius: 100%;
  position: relative;
  top: 100px;
  left: 100px;
}

.nav-item {
  padding: 10px;
}
.nav-link:hover{
  color:#fff;
}
.list-group-item-action:hover {
  background-color: #78938A;
  color: #fff;
}

.welcome-screen {
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7% 15%;
}

/* office section */
#office {
  background-color: #fff;
}

.dropdown {
  font-size: 2rem;
}
/* Office Branch */
#office-branch{
  background-color: #66BFBF;
  color: #fff;
}
/* bod contact */
#contact-bod {
  background-color: #66BFBF;
  color: #fff;
}

.office-item {
  margin: 10px 0;
}

.card-header {
  background-color: #377D71;
  text-align: center;
  color: #fff;
}

/* Australia page steps-sub heading */
.aus-processing {
  font-style: italic;
  line-height: 1;
  color: #FF0063;
}
.use-link{
  line-height: 1;
  margin: 0;
  text-decoration: underline;

}
.bodcolor{
  background-color:#FBC5C5;
}
/* Cost Estimator */
.labels{
  margin:0;
  display:inline;
}
#resources {
  background-color: #66BFBF;
  color: #fff;
}
.input-fill{
  width:15%;
}
.unit{
  margin:5px 5px;
}
.estimate-field{
  margin:5px 5px;
}
.fill{
  margin:5px 5px;
}
/* footer */
#contact-bod {
  text-align: center;
}

.kfs-footer {
  text-align: center;
}

.social-icon {
  color: #fff;
  padding: 10px;
}

@media all and (max-width:990px) {

  h1 {
    font-size:3rem;
  }
  h2{
    font-size:2.5rem;
    margin: 0;
  }
  .welcome-screen{
    font-size: 1rem;
  }
  .KFS-image{
    visibility: hidden;
  }

}
